---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  interval: 5m
  releaseName: rook-ceph
  chart:
    spec:
      chart: rook-ceph
      version: v1.12.5
      sourceRef:
        kind: HelmRepository
        name: rook-ceph-charts
        namespace: flux-system
  values:
    crds:
      enabled: false

    disableAdmissionController: true # https://github.com/rook/rook/issues/10719

    hostpathRequiresPrivileged: true
    enableDiscoveryDaemon: true

    csi:
      kubeletDirPath: /var/lib/kubelet
      enableCSIHostNetwork: true
      pluginTolerations:
        - effect: "NoExecute"
          operator: "Exists"
        - effect: "NoSchedule"
          operator: "Exists"
      csiRBDProvisionerResource: []
      csiRBDPluginResource: []
      csiCephFSProvisionerResource: []
      csiCephFSPluginResource: []

    monitoring:
      enabled: true

    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 1000m
        memory: 256Mi
