---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  interval: 5m
  releaseName: rook-ceph
  chart:
    spec:
      chart: rook-ceph
      version: v1.10.1
      sourceRef:
        kind: HelmRepository
        name: rook-ceph-charts
        namespace: flux-system
  values:
    crds:
      enabled: false

    pspEnable: false # Can safely remove after upgrade to v1.25

    csi:
      kubeletDirPath: /var/lib/kubelet
      enableCSIHostNetwork: true
      pluginTolerations:
        - effect: "NoExecute"
          operator: "Exists"
        - effect: "NoSchedule"
          operator: "Exists"
      csiRBDProvisionerResource: []
      csiRBDPluginResource: []
      csiCephFSProvisionerResource: []
      csiCephFSPluginResource: []

    monitoring:
      enabled: true

    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 1000m
        memory: 256Mi
