---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: monica-config
  namespace: collab
  labels:
    kasten.io/backup-volume: "enabled"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: rook-ceph-block
