---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: grafana
      version: 6.36.2
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
      interval: 5m
  values:
    deploymentStrategy:
      type: Recreate
    rbac:
      pspEnabled: false
    persistence:
      enabled: true
      existingClaim: grafana-config-pvc
    env:
      GF_EXPLORE_ENABLED: true
      GF_PANELS_DISABLE_SANITIZE_HTML: true
      GF_LOG_FILTERS: rendering:debug
      GF_DATE_FORMATS_FULL_DATE: "MMM Do, YYYY hh:mm:ss a"
      GF_SECURITY_ALLOW_EMBEDDING: true
      GF_SECURITY_COOKIE_SAMESITE: grafana
    adminPassword: "${SECRET_GRAFANA_PASSWORD}"
    ingress:
      enabled: true
      ingressClassName: traefik
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        external-dns/is-public: "true"
        external-dns.alpha.kubernetes.io/target: "ipv4.${SECRET_DOMAIN}"
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.middlewares: "network-cloudflare-ips@kubernetescrd"
      hosts: ["grafana.${SECRET_DOMAIN}"]
      tls:
        - hosts:
            - grafana.${SECRET_DOMAIN}
          secretName: tls.grafana
    plugins:
      - natel-discrete-panel
      - grafana-piechart-panel
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: "default"
            orgId: 1
            folder: ""
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
    dashboards:
      default:
        blocky:
          gnetId: 13768
          revision: 3
          datasource: Prometheus
        ceph-cluster:
          gnetId: 2842
          revision: 14
          datasource: Prometheus
        ceph-osd:
          gnetId: 5336
          revision: 5
          datasource: Prometheus
        ceph-pools:
          gnetId: 5342
          revision: 5
          datasource: Prometheus
        node-exporter-full:
          gnetId: 1860
          revision: 27
          datasource: Prometheus
        radarr-exportarr:
          gnetId: 12896
          revision: 1
          datasource: Prometheus
        sonarr-exportarr:
          gnetId: 12530
          revision: 2
          datasource: Prometheus
        unifi-client-insights:
          gnetId: 11315
          revision: 8
          datasource: Prometheus
        unifi-network-sites:
          gnetId: 11311
          revision: 4
          datasource: Prometheus
        unifi-uap-insights:
          gnetId: 11314
          revision: 9
          datasource: Prometheus
        unifi-usw-insights:
          gnetId: 11312
          revision: 8
          datasource: Prometheus
    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
        folderAnnotation: grafana_folder
        provider:
          foldersFromFilesStructure: true
      datasources:
        enabled: true
        searchNamespace: ALL
    datasources:
      datasources.yaml:
        apiVersion: 1
        deleteDatasources:
          - name: loki
            orgId: 1
          - name: home_assistant
            orgId: 1
        datasources:
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://thanos-query:9090/
            isDefault: true
          - name: Loki
            type: loki
            access: proxy
            url: http://loki.monitoring.svc.cluster.local:3100
    grafana.ini:
      server:
        root_url: https://grafana.${SECRET_DOMAIN}
      auth.basic:
        disable_login_form: true
      auth.generic_oauth:
        enabled: true
        allow_sign_up: true
        name: Dex
        client_id: grafana
        client_secret: ${DEX_GRAFANA_AUTHENTICATOR_CLIENT_SECRET}
        scopes: openid profile email groups
        auth_url: https://dex.${SECRET_DOMAIN}/auth
        token_url: https://dex.${SECRET_DOMAIN}/token
        api_url: https://dex.${SECRET_DOMAIN}/userinfo
      auth.generic_oauth.group_mapping:
        role_attribute_path: "contains(groups[*], 'russhome:cluster-admin') && 'Admin' || 'Viewer'"
        org_id: 1
      paths:
        data: /var/lib/grafana/data
        logs: /var/log/grafana
        plugins: /var/lib/grafana/plugins
        provisioning: /etc/grafana/provisioning
      analytics:
        check_for_updates: false
      log:
        mode: console
      grafana_net:
        url: https://grafana.net
