---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: grafana
      version: 7.0.1
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
      interval: 5m
  values:
    deploymentStrategy:
      type: Recreate
    rbac:
      pspEnabled: false
    persistence:
      enabled: true
      existingClaim: grafana-config-pvc
    env:
      GF_EXPLORE_ENABLED: true
      GF_PANELS_DISABLE_SANITIZE_HTML: true
      GF_LOG_FILTERS: rendering:debug
      GF_DATE_FORMATS_FULL_DATE: "MMM Do, YYYY hh:mm:ss a"
      GF_SECURITY_ALLOW_EMBEDDING: true
      GF_SECURITY_COOKIE_SAMESITE: grafana
    adminPassword: "${SECRET_GRAFANA_PASSWORD}"
    ingress:
      enabled: true
      ingressClassName: internal
      annotations:
        kubernetes.io/tls-acme: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts: ["grafana.${SECRET_DOMAIN}"]
      tls:
        - hosts:
            - grafana.${SECRET_DOMAIN}
          secretName: tls.grafana
    plugins:
      - natel-discrete-panel
      - grafana-piechart-panel
      - grafana-worldmap-panel
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: "default"
            orgId: 1
            folder: ""
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
    dashboards:
      default:
        # Ref: https://grafana.com/grafana/dashboards/5342-ceph-pools/
        ceph-pools:
          gnetId: 5342
          revision: 9
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/5336-ceph-osd-single/
        ceph-osd:
          gnetId: 5336
          revision: 9
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/2842-ceph-cluster/
        ceph-cluster:
          gnetId: 2842
          revision: 17
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/1860-node-exporter-full/
        cilium-dashboard:
          url: https://raw.githubusercontent.com/cilium/cilium/v1.14.3/examples/kubernetes/addons/prometheus/files/grafana-dashboards/cilium-dashboard.json
          datasource: Prometheus
        cilium-operator-dashboard:
          url: https://raw.githubusercontent.com/cilium/cilium/v1.14.3/examples/kubernetes/addons/prometheus/files/grafana-dashboards/cilium-operator-dashboard.json
          datasource: Prometheus
        hubble-dashboard:
          url: https://raw.githubusercontent.com/cilium/cilium/v1.14.3/examples/kubernetes/addons/prometheus/files/grafana-dashboards/hubble-dashboard.json
          datasource: Prometheus
        hubble-metrics:
          url: https://raw.githubusercontent.com/cilium/cilium/v1.14.3/examples/kubernetes/addons/prometheus/files/grafana-dashboards/hubble-l7-http-metrics-by-workload.json
          datasource: Prometheus
        node-exporter-full:
          gnetId: 1860
          revision: 30
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/11315-unifi-poller-client-insights-prometheus
        unifi-client-insights:
          gnetId: 11315
          revision: 9
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/11311-unifi-poller-network-sites-prometheus
        unifi-network-sites:
          gnetId: 11311
          revision: 5
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/11314-unifi-poller-uap-insights-prometheus
        unifi-uap-insights:
          gnetId: 11314
          revision: 10
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/11312-unifi-poller-usw-insights-prometheus
        unifi-usw-insights:
          gnetId: 11312
          revision: 9
          datasource: Prometheus
        # Ref: https://grafana.com/grafana/dashboards/7845-zfs/
        zfs:
          gnetId: 7845
          revision: 4
          datasource: Prometheus
        cert-manager:
          url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/cert-manager/dashboards/cert-manager.json
          datasource: Prometheus
        kubernetes-api-server:
          url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-system-api-server.json
          datasource: Prometheus
        kubernetes-coredns:
          url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-system-coredns.json
          datasource: Prometheus
        kubernetes-global:
          url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-global.json
          datasource: Prometheus
        kubernetes-namespaces:
          url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-namespaces.json
          datasource: Prometheus
        kubernetes-nodes:
          url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-nodes.json
          datasource: Prometheus
        kubernetes-pods:
          url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-pods.json
          datasource: Prometheus
    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
        folderAnnotation: grafana_folder
        provider:
          foldersFromFilesStructure: true
      datasources:
        enabled: true
        searchNamespace: ALL
    datasources:
      datasources.yaml:
        apiVersion: 1
        deleteDatasources:
          - name: loki
            orgId: 1
          - name: home_assistant
            orgId: 1
        datasources:
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://thanos-query:9090/
            isDefault: true
          - name: Loki
            type: loki
            access: proxy
            url: http://loki-gateway.monitoring.svc.cluster.local:80
    grafana.ini:
      server:
        root_url: https://grafana.${SECRET_DOMAIN}
      analytics:
        check_for_updates: false
        check_for_plugin_updates: false
      auth:
        oauth_auto_login: true
        oauth_allow_insecure_email_lookup: true
      auth.generic_oauth:
        enabled: true
        allow_sign_up: true
        name: Dex
        client_id: grafana
        client_secret: ${DEX_GRAFANA_AUTHENTICATOR_CLIENT_SECRET}
        scopes: openid profile email groups
        auth_url: https://dex.${SECRET_DOMAIN}/auth
        token_url: https://dex.${SECRET_DOMAIN}/token
        api_url: https://dex.${SECRET_DOMAIN}/userinfo
      auth.generic_oauth.group_mapping:
        role_attribute_path: "contains(groups[*], 'russhome:cluster-admin') && 'Admin' || 'Viewer'"
        org_id: 1
      paths:
        data: /var/lib/grafana/data
        logs: /var/log/grafana
        plugins: /var/lib/grafana/plugins
        provisioning: /etc/grafana/provisioning
      log:
        mode: console
      grafana_net:
        url: https://grafana.net
