---
logger:
  default: info
  # logs:
  #   frigate.record: debug

auth:
  enabled: true

birdseye:
  enabled: false

mqtt:
  host: emqx-listeners.database.svc.cluster.local
  topic_prefix: frigate
  user: mqtt
  password: "{FRIGATE_MQTT_PASSWORD}"

database:
  path: /data/frigate.db

detectors:
  coral:
    type: edgetpu
    device: usb

ffmpeg:
  global_args: [-hide_banner, -loglevel, info]
  hwaccel_args: preset-intel-qsv-h264

snapshots:
  enabled: true
  timestamp: false
  bounding_box: true
  retain:
    default: 14

record:
  enabled: True
  retain:
    days: 3
    mode: motion
  alerts:
    retain:
      days: 14
      mode: active_objects
  detections:
    retain:
      days: 14
      mode: active_objects

objects:
  track:
    - person
    - dog
    - cat
  filters:
    person:
      min_area: 2500
      max_area: 100000
      threshold: 0.7
    dog:
      min_area: 1000
      max_area: 10000
      threshold: 0.7
    cat:
      min_area: 1000
      max_area: 10000
      threshold: 0.7

go2rtc:
  streams:
    doorbell:
      - rtsp://frigate:{FRIGATE_RTSP_PASSWORD}@10.30.0.79:554/h264Preview_01_main
    doorbell_substream:
      - rtsp://frigate:{FRIGATE_RTSP_PASSWORD}@10.30.0.79:554/h264Preview_01_sub

cameras:
  doorbell:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/doorbell
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/doorbell_substream
          input_args: preset-rtsp-restream
          roles:
            - detect
    detect:
      enabled: true
      width: 640
      height: 480
      fps: 7
