apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name frigate
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: frigate-secret
    creationPolicy: Owner
    template:
      data:
        FRIGATE_MQTT_PASSWORD: '{{ .MQTT_PASSWORD }}'
        FRIGATE_RTSP_PASSWORD: '{{ .RTSP_PASSWORD }}'
  dataFrom:
  - extract:
      key: frigate
