apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name frigate
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: frigate-secret
    creationPolicy: Owner
    template:
      data:
        FRIGATE_MQTT_PASSWORD: '{{ .frigate_frigate_mqtt_password }}'
        FRIGATE_RTSP_PASSWORD: '{{ .frigate_frigate_rtsp_password }}'
  dataFrom:
  - extract:
      key: frigate
    rewrite:
    - regexp:
        source: (.*)
        target: frigate_$1
