---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app snmp-exporter-apc-ups
spec:
  interval: 30m
  chart:
    spec:
      chart: prometheus-snmp-exporter
      version: 9.6.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    fullnameOverride: *app
    image:
      repository: quay.io/prometheus/snmp-exporter
    extraArgs: ["--config.file=/config/snmp.yaml"]
    extraConfigmapMounts:
      - name: &name apc-ups-snmp-configmap
        mountPath: /config/snmp.yaml
        subPath: snmp.yaml
        configMap: *name
        readOnly: true
        defaultMode: 420
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 100Mi
    serviceMonitor:
      enabled: true
      params:
        - name: apc-ups
          module: [apcups]
          target: apc-ups.internal
          interval: 120s
          auth: ["public_v1"]
      path: /snmp
      scrapeTimeout: 10s
      relabelings:
        - { sourceLabels: ["__param_target"], targetLabel: instance }
