apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name monica
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: monica-secret
    template:
      data:
        # Database
        mariadb-password: '{{ .MARIADB_PASSWORD }}'
        mariadb-root-password: '{{ .MARIADB_ROOT_PASSWORD }}'
        APP_KEY: '{{ .APP_KEY }}'
        DB_DATABASE: *name
        DB_HOST: monica-db-mariadb.selfhosted.svc.cluster.local
        DB_PASSWORD: '{{ .MARIADB_PASSWORD }}'
        DB_USERNAME: *name
        MAIL_FROM_ADDRESS: '{{ .MAIL_FROM_ADDRESS }}'
        MAIL_FROM_NAME: '{{ .MAIL_FROM_NAME }}'
        MAIL_PASSWORD: '{{ .MAIL_PASSWORD }}'
        MAIL_USERNAME: '{{ .MAIL_USERNAME }}'
        MAIL_HOST: '{{ .MAIL_HOST }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: monica
