apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name monica
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: monica-secret
    template:
      data:
        # Database
        mariadb-password: '{{ .monica_mariadb_password }}'
        mariadb-root-password: '{{ .monica_mariadb_root_password }}'
        APP_KEY: '{{ .monica_app_key }}'
        DB_DATABASE: *name
        DB_HOST: monica-db-mariadb.selfhosted.svc.cluster.local
        DB_PASSWORD: '{{ .monica_mariadb_password }}'
        DB_USERNAME: *name
        MAIL_FROM_ADDRESS: '{{ .monica_mail_from_address }}'
        MAIL_FROM_NAME: '{{ .monica_mail_from_name }}'
        MAIL_PASSWORD: '{{ .monica_mail_password }}'
        MAIL_USERNAME: '{{ .monica_mail_username }}'
        MAIL_HOST: '{{ .monica_mail_host }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: monica
    rewrite:
    - regexp:
        source: (.*)
        target: monica_$1
