# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name radarr-archive
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      data:
        RADARR__AUTH__APIKEY: '{{ .RADARR__API_KEY }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: arrs
  - extract:
      key: cloudnative-pg-superuser
