---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarr-archive
  namespace: media
  labels:
    app.kubernetes.io/name: &name radarr-archive
    app.kubernetes.io/instance: *name
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: ceph-block
