apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name joplin
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: joplin-secret
    template:
      data:
        # App
        POSTGRES_HOST: &dbHost postgres-rw.database.svc.cluster.local
        POSTGRES_PORT: "5432"
        POSTGRES_DATABASE: &dbName joplin
        POSTGRES_USER: '{{ .POSTGRES_USER }}'
        POSTGRES_PASSWORD: '{{ .POSTGRES_PASSWORD }}'
        MAILER_HOST: '{{ .MAILER_HOST }}'
        MAILER_AUTH_USER: '{{ .MAILER_AUTH_USER }}'
        MAILER_AUTH_PASSWORD: '{{ .MAILER_AUTH_PASSWORD }}'
        MAILER_NOREPLY_EMAIL: '{{ .MAILER_NOREPLY_EMAIL }}'
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .POSTGRES_USER }}'
        INIT_POSTGRES_PASS: '{{ .POSTGRES_PASSWORD }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .POSTGRES_SUPER_PASS }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: joplin
  - extract:
      key: cloudnative-pg-superuser
