apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name home-assistant
  namespace: home
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: home-assistant-secret
    template:
      data:
        # App
        HASS_ALEXA_CLIENT_ID: '{{ .home_assistant_hass_alexa_client_id }}'
        HASS_ALEXA_SECRET: '{{ .home_assistant_hass_alexa_secret }}'
        HASS_ALARM_CODE: '{{ .home_assistant_hass_alarm_code }}'
        HASS_MIDEA_TOKEN: '{{ .home_assistant_hass_midea_token }}'
        HASS_MIDEA_KEY: '{{ .home_assistant_hass_midea_key }}'
        HASS_UPRN: '{{ .home_assistant_hass_uprn }}'
        HASS_POSTCODE: '{{ .home_assistant_hass_postcode }}'
        HASS_LATITUDE: '{{ .home_assistant_hass_latitude }}'
        HASS_LONGITUDE: '{{ .home_assistant_hass_longitude }}'
        HASS_POSTGRES_URL: '{{ .home_assistant_postgres_user }}'
        INIT_POSTGRES_DBNAME: home_assistant
        INIT_POSTGRES_HOST: postgres-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: '{{ .home_assistant_postgres_user }}'
        INIT_POSTGRES_PASS: '{{ .home_assistant_postgres_pass }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .home_assistant_postgres_super_pass }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: home-assistant
    rewrite:
    - regexp:
        source: (.*)
        target: home_assistant_$1
