apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name home-assistant
  namespace: home
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: home-assistant-secret
    template:
      data:
        # App
        HASS_ALEXA_CLIENT_ID: '{{ .HASS_ALEXA_CLIENT_ID }}'
        HASS_ALEXA_SECRET: '{{ .HASS_ALEXA_SECRET }}'
        HASS_ALARM_CODE: '{{ .HASS_ALARM_CODE }}'
        HASS_MIDEA_TOKEN: '{{ .HASS_MIDEA_TOKEN }}'
        HASS_MIDEA_KEY: '{{ .HASS_MIDEA_KEY }}'
        HASS_UPRN: '{{ .HASS_UPRN }}'
        HASS_POSTCODE: '{{ .HASS_POSTCODE }}'
        HASS_LATITUDE: '{{ .HASS_LATITUDE }}'
        HASS_LONGITUDE: '{{ .HASS_LONGITUDE }}'
        HASS_POSTGRES_URL: 'postgresql://{{ .POSTGRES_USER }}:{{ .POSTGRES_PASS }}@postgres-rw.database.svc.cluster.local/home_assistant'
        # Postgres Init
        INIT_POSTGRES_DBNAME: home_assistant
        INIT_POSTGRES_HOST: postgres-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: '{{ .POSTGRES_USER }}'
        INIT_POSTGRES_PASS: '{{ .POSTGRES_PASS }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .POSTGRES_SUPER_PASS }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: home-assistant
  - extract:
      key: cloudnative-pg-superuser
