---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app fireflyiii-importer
  namespace: collab
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.0.2
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  values:
    controller:
      annotations:
        reloader.stakater.com/auto: 'true'
    global:
      nameOverride: *app
    image:
      repository: fireflyiii/data-importer
      tag: version-1.3.0
    service:
      main:
        ports:
          http:
            port: 8080
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: "foundation:page-export-csv"
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    envFrom:
      - secretRef:
          name: fireflyiii
    env:
      TRUSTED_PROXIES: "**"
      FIREFLY_III_URL: "http://fireflyiii.collab.svc.cluster.local:8080"
      VANITY_URL: *host
      FIREFLY_III_ACCESS_TOKEN:
        valueFrom:
          secretKeyRef:
            name: fireflyiii
            key: IMPORTER_PAT
