-- udp/tcp dns listening
setLocal("0.0.0.0:53", {})

-- Local bind
newServer({
  address = "192.168.1.1:5353",
  pool = "bind",
  checkName = "router.russhome.xyz"
})

-- NextDNS over TLS
-- Trusted
newServer({
  address = "45.90.28.199:443",
  tls = "openssl",
  subjectName = "dns.nextdns.io",
  dohPath = "/dd8d64",
  validateCertificates = true,
  checkInterval = 10,
  checkTimeout = 2000,
  pool = "nextdns_trusted"
})
newServer({
  address = "45.90.30.199:443",
  tls = "openssl",
  subjectName = "dns.nextdns.io",
  dohPath = "/dd8d64",
  validateCertificates = true,
  checkInterval = 10,
  checkTimeout = 2000,
  pool = "nextdns_trusted"
})

-- NextDNS over TLS
-- Guest
newServer({
  address = "45.90.28.155:443",
  tls = "openssl",
  subjectName = "dns.nextdns.io",
  dohPath = "/dba277",
  validateCertificates = true,
  checkInterval = 10,
  checkTimeout = 2000,
  pool = "nextdns_guest"
})
newServer({
  address = "45.90.30.155:443",
  tls = "openssl",
  subjectName = "dns.nextdns.io",
  dohPath = "/dba277",
  validateCertificates = true,
  checkInterval = 10,
  checkTimeout = 2000,
  pool = "nextdns_guest"
})

-- CloudFlare DNS over TLS
newServer({
  address = "1.1.1.1:853",
  tls = "openssl",
  subjectName = "cloudflare-dns.com",
  validateCertificates = true,
  checkInterval = 10,
  checkTimeout = 2000,
  pool = "cloudflare"
})
newServer({
  address = "1.0.0.1:853",
  tls = "openssl",
  subjectName = "cloudflare-dns.com",
  validateCertificates = true,
  checkInterval = 10,
  checkTimeout = 2000,
  pool = "cloudflare"
})

-- Enable caching
pc = newPacketCache(10000, {
  maxTTL = 86400,
  minTTL = 0,
  temporaryFailureTTL = 60,
  staleTTL = 60,
  dontAge = false
})
getPool(""):setCache(pc)

-- Request logging, uncomment to log DNS requests/responses to stdout
-- addAction(AllRule(), LogAction("", false, false, true, false, false))
-- addResponseAction(AllRule(), LogResponseAction("", false, true, false, false))

-- Routing rules
addAction("10.9.0.1/24", PoolAction("nextdns_guest"))  -- guest vlan
addAction("10.9.0.1/24", DropAction())                 -- stop processing

addAction('vw.microserver.space', PoolAction('cloudflare'))
addAction('kuma.microserver.space', PoolAction('cloudflare'))
addAction('microserver.space', PoolAction('bind'))
addAction('russhome.xyz', PoolAction('bind'))
addAction('168.192.in-addr.arpa', PoolAction('bind'))
addAction('9.10.in-addr.arpa', PoolAction('bind'))
addAction('20.10.in-addr.arpa', PoolAction('bind'))
addAction('30.10.in-addr.arpa', PoolAction('bind'))

addAction("192.168.0.1/24", PoolAction("cloudflare"))  -- LAN vlan
addAction("10.11.0.0/24", PoolAction("nextdns_trusted"))  -- wg trusted vlan
addAction("10.20.0.0/24", PoolAction("nextdns_trusted"))  -- servers vlan
addAction("10.20.1.0/24", PoolAction("nextdns_trusted"))  -- trusted vlan
addAction("10.30.0.0/24", PoolAction("nextdns_trusted"))  -- iot vlan
