# logfilename                              [owner:group]      mode    count size      when    flags   [/pid_file]               [sig_num]
/var/log/dnsdist/dnsdist.log               root:wheel         640     7     *         @T00    B       /var/run/dnsdist.pid      1
