---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: tautulli
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      repository: ghcr.io/onedr0p/tautulli
      tag: 2.13.1@sha256:525209414d149214584819313b0ec7507a3259dfa5f8d618692c34b54f172db9

    env:
      TZ: "${TZ}"

    service:
      main:
        ports:
          http:
            port: 8181

    ingress:
      main:
        annotations:
          auth.home.arpa/enabled: "true"
          nginx.ingress.kubernetes.io/auth-signin: https://tautulli.${SECRET_DOMAIN}/outpost.goauthentik.io/start?rd=$escaped_request_uri
          hajimari.io/enable: "true"
          hajimari.io/icon: "chart-bar"
        enabled: true
        ingressClassName: internal
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: "tls.{{ .Release.Name }}"
            hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: tautulli-config
      backup:
        enabled: true
        type: nfs
        server: "nas.${SECRET_DOMAIN}"
        path: /mnt/apps/backups/tautulli
        mountPath: /config/backups

    podSecurityContext:
      supplementalGroups:
        - 1000

    resources:
      requests:
        cpu: 22m
        memory: 297M
      limits:
        memory: 476M
