---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: wyoming-whisper
  namespace: home
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
    image:
      repository: rhasspy/wyoming-whisper
      tag: latest
    args:
      - --model
      - small
      - --language
      - en
    env:
      TZ: "${TZ}"
    service:
      main:
        ports:
          http:
            enabled: false
            primary: false
          whisper:
            enabled: true
            primary: true
            port: 10300
            protocol: TCP
    volumeClaimTemplates:
      - name: data
        mountPath: /data
        accessMode: ReadWriteOnce
        size: 5Gi
        storageClass: rook-ceph-block
    resources:
      requests:
        cpu: 15m
        memory: 1311M
      limits:
        memory: 3648M
