apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name autobrr
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      data:
        # Autobrr
        AUTOBRR__DATABASE_TYPE: postgres
        AUTOBRR__POSTGRES_DATABASE: &dbName autobrr
        AUTOBRR__POSTGRES_HOST: &dbHost postgres-rw.database.svc.cluster.local
        AUTOBRR__POSTGRES_USER: '{{ .autobrr_postgres_user }}'
        AUTOBRR__POSTGRES_PASS: '{{ .autobrr_postgres_password }}'
        AUTOBRR__POSTGRES_PORT: "5432"
        AUTOBRR__SESSION_SECRET: '{{ .autobrr_session_secret }}'
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .autobrr_postgres_user }}'
        INIT_POSTGRES_PASS: '{{ .autobrr_postgres_password }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .postgres_super_pass }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: arrs
    rewrite:
    - regexp:
        source: autobrr__(.*)
        target: autobrr_$1
  - extract:
      key: arrs
    rewrite:
    - regexp:
        source: ^(postgres_super_pass)$
        target: $1
