apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name autobrr
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      data:
        # Autobrr
        AUTOBRR__DATABASE_TYPE: postgres
        AUTOBRR__POSTGRES_DATABASE: &dbName autobrr
        AUTOBRR__POSTGRES_HOST: &dbHost postgres-rw.database.svc.cluster.local
        AUTOBRR__POSTGRES_USER: '{{ .AUTOBRR__POSTGRES_USER }}'
        AUTOBRR__POSTGRES_PASS: '{{ .AUTOBRR__POSTGRES_PASSWORD }}'
        AUTOBRR__POSTGRES_PORT: "5432"
        AUTOBRR__SESSION_SECRET: '{{ .AUTOBRR__SESSION_SECRET }}'
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .AUTOBRR__POSTGRES_USER }}'
        INIT_POSTGRES_PASS: '{{ .AUTOBRR__POSTGRES_PASSWORD }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .POSTGRES_SUPER_PASS }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: arrs
  - extract:
      key: cloudnative-pg-superuser
