---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system

helmCharts:
  - name: kubelet-csr-approver
    repo: https://postfinance.github.io/kubelet-csr-approver
    version: 1.0.3
    releaseName: kubelet-csr-approver
    includeCRDs: true
    namespace: kube-system
    valuesFile: ../../../../../k8s/clusters/cluster-0/manifests/kube-system/kubelet-csr-approver/values.yaml

transformers:
  - transformers.yaml
