---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: &name cloudflare-dns
spec:
  provider:
    doppler:
      project: *name
      config: prd
      auth:
        secretRef:
          dopplerToken:
            name: doppler-token-auth-api
            key: dopplerToken
            namespace: flux-system
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name cloudflare-dns
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: *name
  target:
    name: cloudflare-dns-secret
    template:
      engineVersion: v2
      data:
        CF_API_TOKEN: "{{ .CLOUDFLARE_DNS_TOKEN }}"
  dataFrom:
    - find:
        name:
          regexp: .*
