---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - dashboard
  - helmrelease.yaml
  - httproute.yaml
  - object-bucket-claim.yaml
configMapGenerator:
  - name: thanos-cache-configmap
    files:
      - cache.yaml=./config/cache.yaml
generatorOptions:
  disableNameSuffixHash: true