---
# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
sonarr:
  sonarr:
    base_url: http://sonarr:8989
    api_key: !env_var SONARR_API_KEY
    delete_old_custom_formats: true
    media_management:
      propers_and_repacks: do_not_prefer
    media_naming:
      episodes:
        anime: default
        daily: default
        rename: true
        standard: default
      season: default
      series: plex-tvdb
    quality_definition:
      type: series
    quality_profiles:
      - trash_id: 72dae194fc92bf828f32cde7744e51a1 # WEB-1080p
        reset_unmatched_scores:
          enabled: true
    custom_formats:
      - trash_ids:
          - 32b367365729d530ca1c124a0b180c64 # Bad Dual Groups
          - 82d40da2bc6923f41e14394075dd4b03 # No-RlsGroup
          - e1a997ddb54e3ecbfe06341ad323c458 # Obfuscated
          - 06d66ab109d4d2eddb2794d21526d140 # Retags
        assign_scores_to:
          - name: WEB-1080p
      - trash_ids:
          - 3bc5f395426614e155e585a2f056cdf1 # Season Packs
        assign_scores_to:
          - name: WEB-1080p
            score: 10

radarr:
  radarr:
    base_url: http://radarr.media.svc.cluster.local:7878
    api_key: !env_var RADARR_API_KEY
    delete_old_custom_formats: true
    media_management:
      propers_and_repacks: do_not_prefer
    media_naming:
      folder: plex-tmdb
      movie:
        rename: true
        standard: plex-tmdb
    quality_definition:
      type: sqp-uhd
    quality_profiles:
      - trash_id: 5128baeb2b081b72126bc8482b2a86a0 # SQP-1 (2160p)
        reset_unmatched_scores:
          enabled: true
    custom_formats:
      - trash_ids:
          - 957d0f44b592285f26449575e8b1167e # Special Edition
          - b6832f586342ef70d9c128d40c07b872 # Bad Dual Groups
          - cc444569854e9de0b084ab2b8b1532b2 # Black and White Editions
          - b337d6812e06c200ec9a2d3cfa9d20a7 # DV Boost
          - ae9b7c9ebde1f3bd336a8cbd1ec4c5e5 # No-RlsGroup
          - 7357cf5161efbf8c4d5d0c30b4815ee2 # Obfuscated
          - 5c44f52a8714fdd79bb4d98e2673be1f # Retags
          - f537cf427b64c38c8e36298f657e4828 # Scene
        assign_scores_to:
          - name: SQP-1 (2160p)

  radarr-archive:
    base_url: http://radarr-archive.media.svc.cluster.local:7878
    api_key: !env_var RADARR_API_KEY
    delete_old_custom_formats: true
    media_management:
      propers_and_repacks: do_not_prefer
    media_naming:
      folder: plex-tmdb
      movie:
        rename: true
        standard: plex-tmdb
    quality_definition:
      type: sqp-uhd
    quality_profiles:
      - trash_id: 2cf36c1f0106ffac993be003ade51865 # SQP-3 (2160p)
        reset_unmatched_scores:
          enabled: true
    custom_formats:
      - trash_ids:
          - 839bea857ed2c0a8e084f3cbdbd65ecb # x265 (no HDR/DV)
        assign_scores_to:
          - name: SQP-3
            score: 0
      - trash_ids:
          - dc98083864ea246d05a42df0d05f81cc # x265 (HD)
          - 957d0f44b592285f26449575e8b1167e # Special Edition
          - b6832f586342ef70d9c128d40c07b872 # Bad Dual Groups
          - cc444569854e9de0b084ab2b8b1532b2 # Black and White Editions
          - b337d6812e06c200ec9a2d3cfa9d20a7 # DV Boost
          - ae9b7c9ebde1f3bd336a8cbd1ec4c5e5 # No-RlsGroup
          - 7357cf5161efbf8c4d5d0c30b4815ee2 # Obfuscated
          - 5c44f52a8714fdd79bb4d98e2673be1f # Retags
          - f537cf427b64c38c8e36298f657e4828 # Scene
          - 9c38ebb7384dada637be8899efa68e6f # SDR
        assign_scores_to:
          - name: SQP-3
