---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hajimari
spec:
  interval: 30m
  chart:
    spec:
      chart: hajimari
      version: 2.0.2
      sourceRef:
        kind: HelmRepository
        name: hajimari
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    image:
      repository: ghcr.io/toboshii/hajimari
      tag: v0.3.1
    podAnnotations:
      reloader.stakater.com/auto: "true"
    env:
      TZ: "${TZ}"
    podSecurityContext:
      fsGroup: 101
      fsGroupChangePolicy: OnRootMismatch
    hajimari:
      name: Russell
      defaultEnable: true
      namespaceSelector:
        matchNames:
          - ai
          - home
          - media
          - selfhosted
      alwaysTargetBlank: true
      showAppGroups: false
      showAppUrls: false
      showAppInfo: true
      showGlobalBookmarks: true
      defaultSearchProvider: DuckDuckGo
      searchProviders:
      - name: SearXNG
        token: s
        icon: mdi:cloud-search-outline
        searchUrl: https://search.${SECRET_DOMAIN}/search?q={query}
        url: https://search.${SECRET_DOMAIN}
      - name: Google
        token: g
        icon: simple-icons:google
        searchUrl: https://www.google.com/search?q={query}
        url: https://www.google.com
      - name: DuckDuckGo
        token: d
        icon: simple-icons:duckduckgo
        searchUrl: https://duckduckgo.com/?q={query}
        url: https://duckduckgo.com
      - name: IMDB
        token: i
        icon: simple-icons:imdb
        searchUrl: https://www.imdb.com/find?q={query}
        url: https://www.imdb.com
      - name: Reddit
        token: r
        icon: simple-icons:reddit
        searchUrl: https://www.reddit.com/search?q={query}
        url: https://www.reddit.com
      - name: YouTube
        token: 'y'
        icon: simple-icons:youtube
        searchUrl: https://www.youtube.com/results?search_query={query}
        url: https://www.youtube.com
      customApps:
        - group: Home
          apps:
            - name: Uptime
              url: "https://kuma.microserver.space/status/home-cluster"
              icon: arrow-up-bold
      globalBookmarks:
        - group: Communicate
          bookmarks:
            - name: Discord
              url: "https://discord.com"
        - group: Cloud
          bookmarks:
            - name: AWS
              url: "https://console.aws.amazon.com/console/home"
            - name: Cloudflare
              url: "https://dash.cloudflare.com"
        - group: Dev
          bookmarks:
            - name: Github
              url: "https://github.com/rust84"
        - group: Media
          bookmarks:
            - name: YouTube
              url: "https://youtube.com/feed/subscriptions"
        - group: Reading
          bookmarks:
            - name: Hacker News
              url: "https://news.ycombinator.com/"
            - name: Tildes
              url: "https://tildes.net/"
    ingress:
      main:
        annotations:
          hajimari.io/enable: "false"
        enabled: true
        ingressClassName: internal
        hosts:
          - host: &host "hajimari.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    persistence:
      data:
        existingClaim: hajimari-config
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 100Mi
