---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: karakeep
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: karakeep-secret
    creationPolicy: Owner
    template:
      data:
        NEXTAUTH_SECRET: "{{ .NEXTAUTH_SECRET }}"
        MEILI_MASTER_KEY: "{{ .MEILI_MASTER_KEY }}"
  dataFrom:
    - extract:
        key: karakeep
