---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: karakeep
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: karakeep-secret
    creationPolicy: Owner
    template:
      data:
        NEXTAUTH_SECRET: "{{ .karakeep_nextauth_secret }}"
        MEILI_MASTER_KEY: "{{ .karakeep_meili_master_key }}"
  dataFrom:
    - extract:
        key: karakeep
      rewrite:
        - regexp:
            source: "(.*)"
            target: "karakeep_$1"
