---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app vrising
  namespace: games
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  values:
    controller:
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: trueosiris/vrising
      tag: "2.0"
    nameOverride: *app
    env:
      TZ: "Europe/London"
      GAMEPORT: &server 27015
      QUERYPORT: &query 27016
      # MAX_USERS: 10
      # MAX_ADMIN: 4
      # STEAM_LIST: true
      # AUTOSAVE_NUM: 10
      # AUTOSAVE_INT: 300
    envFrom:
      - secretRef:
          name: *app
    service:
      main:
        ports:
          http:
            port: 4000
      server:
        enabled: true
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        annotations:
          "io.cilium/lb-ipam-ips": "${SVC_VRISING_ADDRESS}"
        labels:
          io.cilium/lb-ipam-layer2: "true"
        ports:
          server:
            enabled: true
            port: *server
            protocol: UDP
            targetPort: *server
          query:
            enabled: true
            port: *query
            protocol: UDP
            targetPort: *query
    probes:
      liveness:
        enabled: false
      readiness:
        enabled: false
      startup:
        enabled: false
    resources:
      requests:
        memory: 3000Mi
        cpu: 1
      limits:
        memory: 6000Mi
    persistence:
      config:
        enabled: true
        mountPath: /mnt/vrising/persistentdata
        existingClaim: vrising-config-v1
      server:
        enabled: true
        type: emptyDir
        mountPath: /mnt/vrising/server
      config-json:
        enabled: true
        type: configMap
        name: vrising
        subPath: ServerGameSettings.json
        mountPath: /mnt/vrising/persistentdata/Settings/ServerGameSettings.json
        readOnly: true
