---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: vrising
  namespace: games
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 1.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: trueosiris/vrising
      tag: "1.9"
    nameOverride: vrising
    env:
      TZ: "Europe/London"
      GAMEPORT: 27015
      QUERYPORT: 27016
    service:
      main:
        ports:
          http:
            port: 4000
      server:
        enabled: true
        type: LoadBalancer
        loadBalancerIP: ${SVC_VRISING_ADDRESS}
        externalTrafficPolicy: Local
        ports:
          server:
            enabled: true
            port: 27015
            protocol: UDP
            targetPort: 27015
          query:
            enabled: true
            port: 27016
            protocol: UDP
            targetPort: 27016

    probes:
      liveness:
        enabled: false
      readiness:
        enabled: false
      startup:
        enabled: false

    resources:
      requests:
        memory: 2000Mi
        cpu: 100m
      limits:
        memory: 3500Mi

    persistence:
      config:
        enabled: true
        mountPath: /mnt/vrising/persistentdata
        existingClaim: vrising-config-v1
      server:
        enabled: true
        type: emptyDir
        mountPath: /mnt/vrising/server

    podAnnotations:
      secret.reloader.stakater.com/reload: "vrising"

  valuesFrom:
    - kind: Secret
      name: vrising
      valuesKey: server_name
      targetPath: env.SERVERNAME
      optional: false
    - kind: Secret
      name: vrising
      valuesKey: world_name
      targetPath: env.WORLDNAME
      optional: false
