---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: wyoming-piper
  namespace: home
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.0.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
    image:
      repository: rhasspy/wyoming-piper
      tag: latest
    args:
      - --voice
      - en-gb-southern_english_female-low
    env:
      TZ: "${TZ}"
    service:
      main:
        ports:
          http:
            enabled: false
            primary: false
          piper:
            enabled: true
            primary: true
            port: 10200
            protocol: TCP
    volumeClaimTemplates:
      - name: data
        mountPath: /data
        accessMode: ReadWriteOnce
        size: 5Gi
        storageClass: rook-ceph-block
    resources:
      requests:
        memory: 250Mi
        cpu: 500m
      limits:
        memory: 500Mi
