apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name qbittorrent
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: qbittorrent-secret
    template:
      data:
        # Some stuff is commenteed out, not required for airvpn
        WIREGUARD_PRIVATE_KEY: '{{ .WIREGUARD_PRIVATE_KEY }}'
        WIREGUARD_PRESHARED_KEY: '{{ .WIREGUARD_PRESHARED_KEY }}'
        WIREGUARD_ADDRESSES: '{{ .WIREGUARD_ADDRESSES }}'
        MAM_ID: '{{ .MAM_ID }}'
        SERVER_CITIES: '{{ .SERVER_CITIES }}'
        SERVER_COUNTRIES: '{{ .SERVER_COUNTRIES }}'
        VPN_SERVICE_PROVIDER: '{{ .VPN_SERVICE_PROVIDER }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: qbittorrent
