apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name qbittorrent
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: qbittorrent-secret
    template:
      data:
        # Some stuff is commenteed out, not required for airvpn
        WIREGUARD_PRIVATE_KEY: '{{ .qbittorrent_wireguard_private_key }}'
        WIREGUARD_PRESHARED_KEY: '{{ .qbittorrent_wireguard_preshared_key }}'
        WIREGUARD_ADDRESSES: '{{ .qbittorrent_wireguard_addresses }}'
        MAM_ID: '{{ .qbittorrent_mam_id }}'
        SERVER_CITIES: '{{ .qbittorrent_server_cities }}'
        SERVER_COUNTRIES: '{{ .qbittorrent_server_countries }}'
        VPN_SERVICE_PROVIDER: '{{ .qbittorrent_vpn_service_provider }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: qbittorrent
    rewrite:
    - regexp:
        source: (.*)
        target: qbittorrent_$1
