---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      qbittorrent:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups: [65542] # external-services

        initContainers:
          coredns:
            image:
              repository: mirror.gcr.io/coredns/coredns
              tag: 1.13.1
            args:
              - -conf
              - /etc/coredns/Corefile
            restartPolicy: Always

          gluetun:
            dependsOn:
              - coredns
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.40.2
            env:
              BLOCK_MALICIOUS: off # save 300MB of RAM; https://github.com/qdm12/gluetun/issues/2054
              DNS_ADDRESS: "127.0.0.2"
              DOT: off
              DOT_CACHING: off
              DOT_IPV6: off
              FIREWALL_DEBUG: on
              FIREWALL_INPUT_PORTS: "8080,9999"
              FIREWALL_OUTBOUND_SUBNETS: 10.42.0.0/16,10.43.0.0/16 # Allow access to k8s subnets
              FIREWALL_VPN_INPUT_PORTS: &BT-port 21044
              HEALTH_SERVER_ADDRESS: ":9999"
              LOG_LEVEL: debug
              PUBLICIP_API: cloudflare
              STORAGE_FILEPATH: "" # prevent memory spike and avoid I/O
              TZ: "${TZ}"
              UPDATER_PERIOD: 24h
              VERSION_INFORMATION: off
              VPN_INTERFACE: wg0
              VPN_IPV6_SERVER: off
              VPN_TYPE: wireguard    
            envFrom:
              - secretRef:
                  name: qbittorrent-secret
            resources:
              limits:
                squat.ai/tun: "1"
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 9999
                  timeoutSeconds: 10
                  periodSeconds: 30
                  failureThreshold: 5
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 9999
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  failureThreshold: 5
            restartPolicy: Always
            securityContext:
              capabilities: { add: ["NET_ADMIN", "NET_RAW"] }
              readOnlyRootFilesystem: false
              runAsNonRoot: false
              runAsUser: 0
        containers:
          app:
            nameOverride: qbittorrent
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.3@sha256:2feb2c8d188db4de330ca4840c167282e10e3252f4c6d1bce7943c7f46099836
            env:
              UMASK: "022"
              QBT_WEBUI_PORT: &port 8080
              QBT_TORRENTING_PORT: *BT-port
              QBT_Preferences__WebUI__AuthSubnetWhitelistEnabled: true
              QBT_Preferences__WebUI__AuthSubnetWhitelist: |-
                10.42.0.0/16, 10.20.0.0/24
              QBT_BitTorrent__Session__Interface: wg0
              QBT_BitTorrent__Session__InterfaceAddress: "0.0.0.0"
              QBT_BitTorrent__Session__InterfaceName: wg0
              QBT_Preferences__WebUI__AlternativeUIEnabled: true
              QBT_Preferences__WebUI__RootFolder: /add-ons/VueTorrent
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  initialDelaySeconds: 0
                  timeoutSeconds: 10
                  periodSeconds: 5
                  failureThreshold: 5
              readiness: *probes
            resources:
              requests:
                cpu: 150m
                memory: 2048Mi
              limits:
                memory: 8192Mi
            securityContext: &sc
              runAsUser: 568
              runAsGroup: 568
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
          seedboxapi:
            image:
              repository: ghcr.io/rust84/seedboxapi
              tag: 1.0.0@sha256:57df8dc728e3b6c18e69ce14a7666823ba95d9f61b406367b1c3a19ceeb516d2
              pullPolicy: Always
            env:
              MAM_ID:
                valueFrom:
                  secretKeyRef:
                    name: qbittorrent-secret
                    key: MAM_ID
            resources:
              requests:
                cpu: 10m
                memory: 25Mi
              limits:
                memory: 50Mi
            securityContext: *sc
          vuetorrent:
            dependsOn: app
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.5.0
            args:
              - --repo=https://github.com/WDaan/VueTorrent
              - --ref=latest-release
              - --period=86400s
              - --root=/add-ons
              - --sync-timeout=3600s
              - -v=6
            resources:
              requests:
                cpu: 10m
                memory: 25Mi
              limits:
                memory: 50Mi
            securityContext: *sc

    service:
      app:
        controller: qbittorrent
        ports:
          http:
            port: *port

    ingress:
      app:
        className: internal
        annotations:
          hajimari.io/icon: cloud-download
        hosts:
          - host: "qbittorrent.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: *app
      media:
        type: nfs
        server: "duriel.internal"
        path: /tank/Media
        globalMounts:
          - path: /media/downloads/torrents
            subPath: downloads/torrents
      coredns:
        type: configMap
        name: qbittorrent-coredns
        advancedMounts:
          qbittorrent:
            coredns:
              - path: /etc/coredns/Corefile
                subPath: Corefile
                readOnly: true
      add-ons:
        type: emptyDir
        globalMounts:
          - path: /add-ons
      tmp:
        type: emptyDir