---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: database
components:
  - ../../flux/components/common
resources:
  - ./dragonfly/ks.yaml
  - ./emqx/ks.yaml
  - ./cloudnative-pg/ks.yaml
  - ./postgres-backup/ks.yaml
