apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name recyclarr
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: recyclarr
    rewrite:
    - regexp:
        source: (.*)
        target: recyclarr_$1
