apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name recyclarr
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      data:
        SONARR_API_KEY: '{{ .SONARR__API_KEY }}'
        RADARR_API_KEY: '{{ .RADARR__API_KEY }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: arrs
