cluster-o-cp-0.microserver.space.yaml
cluster-o-cp-1.microserver.space.yaml
cluster-o-cp-2.microserver.space.yaml
cluster-o-node-0.microserver.space.yaml
cluster-o-node-1.microserver.space.yaml
cluster-o-node-2.microserver.space.yaml
talosconfig
cluster-0-cp-0.microserver.space.yaml
cluster-0-cp-1.microserver.space.yaml
cluster-0-cp-2.microserver.space.yaml
cluster-0-node-0.microserver.space.yaml
cluster-0-node-1.microserver.space.yaml
cluster-0-node-2.microserver.space.yaml
