---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: joplin
  namespace: collab
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      repository: joplin/server
      tag: 2.13.1-beta
      pullPolicy: IfNotPresent

    service:
      main:
        annotations:
          prometheus.io/probe: "true"
          prometheus.io/protocol: tcp
        ports:
          http:
            port: 22300

    env:
      TZ: "${TZ}"
      APP_BASE_URL: https://joplin.${SECRET_DOMAIN}
      APP_PORT: 22300
      DB_CLIENT: pg
      POSTGRES_HOST: 10.20.0.144
      POSTGRES_PORT: 5432
      POSTGRES_DATABASE: joplin
      MAILER_ENABLED: 1
      MAILER_HOST: email-smtp.eu-west-1.amazonaws.com
      MAILER_PORT: 465
      MAILER_SECURE: 1
      MAILER_AUTH_USER: ${SECRET_JOPLIN_USERNAME}
      MAILER_AUTH_PASSWORD: ${SECRET_JOPLIN_PASSWORD}
      MAILER_NOREPLY_NAME: Joplin
      MAILER_NOREPLY_EMAIL: ${SECRET_JOPLIN_FROM}

    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: notebook-multiple
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: "tls.{{ .Release.Name }}"
            hosts:
              - *host

    resources:
      requests:
        cpu: 15m
        memory: 183M
      limits:
        memory: 325M

  valuesFrom:
    - kind: Secret
      name: database-joplin-user
      valuesKey: PASSWORD
      targetPath: env.POSTGRES_PASSWORD
      optional: false
    - kind: Secret
      name: database-joplin-user
      valuesKey: LOGIN
      targetPath: env.POSTGRES_USER
      optional: false
