# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name grafana-admin
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: grafana-admin-secret
    template:
      data:
        admin-user: '{{ .grafana_admin_username }}'
        admin-password: '{{ .grafana_admin_password }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: grafana
    rewrite:
    - regexp:
        source: (.*)
        target: grafana_$1
