# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name emqx
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: emqx-secret
    template:
      data:
        EMQX_DASHBOARD__DEFAULT_USERNAME: '{{ .emqx_emqx_dashboard__default_username }}'
        EMQX_DASHBOARD__DEFAULT_PASSWORD: '{{ .emqx_emqx_dashboard__default_password }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: emqx
    rewrite:
    - regexp:
        source: (.*)
        target: emqx_$1
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name emqx-init-user
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: emqx-init-user-secret
    template:
      data:
        init-user.json: '{{ .emqx_x_emqx_mqtt_username }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: emqx
    rewrite:
    - regexp:
        source: (.*)
        target: emqx_$1
