# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name sonarr
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      data:
        # App
        SONARR__API_KEY: '{{ .sonarr_api_key }}'
        SONARR__POSTGRES_HOST: &dbHost postgres-rw.database.svc.cluster.local
        SONARR__POSTGRES_PORT: "5432"
        SONARR__POSTGRES_USER: '{{ .sonarr_postgres_user }}'
        SONARR__POSTGRES_PASSWORD: '{{ .sonarr_postgres_password }}'
        SONARR__POSTGRES_MAIN_DB: sonarr_main
        SONARR__POSTGRES_LOG_DB: sonarr_log
        INIT_POSTGRES_DBNAME: sonarr_main sonarr_log
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .sonarr_postgres_user }}'
        INIT_POSTGRES_PASS: '{{ .sonarr_postgres_password }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .postgres_super_pass }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: arrs
    rewrite:
    - regexp:
        source: sonarr__(.*)
        target: sonarr_$1
  - extract:
      key: arrs
    rewrite:
    - regexp:
        source: ^(postgres_super_pass)$
        target: $1
