---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-config
  namespace: flux-system
data:
  CLUSTER_NAME: cluster-0
  CLUSTER_ID: "1"

  TZ: "Europe/London"

  # Router Gateway IP
  GATEWAY_IP: "192.168.1.1"

  # Networks
  NETWORK_SERVERS_CIDR: 10.20.0.0/16
  NETWORK_BGP_SVC_CIDR: 10.1.0.0/16
  NETWORK_K8S_POD_CIDR: "10.244.0.0/16"
  NETWORK_K8S_SERVICE_CIDR: 10.96.0.0/12
  NETWORK_K8S_CLUSTER_CIDR: "10.42.0.0/16"
  NETWORK_MANAGEMENT_CIDR: "10.20.0.0/16"

  # Service IPs
  SVC_TRAEFIK_ADDRESS: "10.1.0.152"
  SVC_MOSQUITTO_ADDRESS: "10.1.0.1"
  SVC_BLOCKY_ADDRESS: "10.1.0.160"
  SVC_VECTOR_AGGREGATOR: "10.1.0.155"
  SVC_UNIFI_ADDRESS: "10.1.0.151"
  SVC_PLEX_ADDRESS: "10.1.0.154"
  SVC_JELLYFIN_ADDRESS: "10.1.0.153"
  SVC_VRISING_ADDRESS: "10.1.0.156"
  SVC_HOME_ASSISTANT_ADDR: "10.1.0.157"
  SVC_K8S_GATEWAY_ADDR: "10.1.0.3"
  SVC_NGINX_ADDR: "10.1.0.158"
  SVC_QBITTORRENT_ADDR: "10.1.0.159"
