apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name immich
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: immich-secret
    template:
      data:
        # Immich
        DB_DATABASE_NAME: &dbName immich
        DB_HOSTNAME: &dbHost postgres-immich-rw.database.svc.cluster.local
        DB_USERNAME: '{{ .immich_postgres_user }}'
        DB_PASSWORD: '{{ .immich_postgres_pass }}'
        JWT_SECRET: '{{ .immich_jwt_secret }}'
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .immich_postgres_user }}'
        INIT_POSTGRES_PASS: '{{ .immich_postgres_pass }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .immich_postgres_super_pass }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: immich
    rewrite:
    - regexp:
        source: (.*)
        target: immich_$1
