apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name readarr
  namespace: media
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: readarr-secret
    template:
      data:
        # App
        READARR__API_KEY: '{{ .READARR__API_KEY }}'
        READARR__POSTGRES_HOST: &dbHost postgres-rw.database.svc.cluster.local
        READARR__POSTGRES_PORT: "5432"
        READARR__POSTGRES_USER: '{{ .READARR__POSTGRES_USER }}'
        READARR__POSTGRES_PASSWORD: '{{ .READARR__POSTGRES_PASSWORD }}'
        READARR__POSTGRES_CACHE_DB: readarr_cache
        READARR__POSTGRES_MAIN_DB: readarr_main
        READARR__POSTGRES_LOG_DB: readarr_log
        INIT_POSTGRES_DBNAME: readarr_cache readarr_main readarr_log
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .READARR__POSTGRES_USER }}'
        INIT_POSTGRES_PASS: '{{ .READARR__POSTGRES_PASSWORD }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .POSTGRES_SUPER_PASS }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: arrs
  - extract:
      key: cloudnative-pg-superuser
