apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name readarr
  namespace: media
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: readarr-secret
    template:
      data:
        # App
        READARR__API_KEY: '{{ .readarr_api_key }}'
        READARR__POSTGRES_HOST: &dbHost postgres-rw.database.svc.cluster.local
        READARR__POSTGRES_PORT: "5432"
        READARR__POSTGRES_USER: '{{ .readarr_postgres_user }}'
        READARR__POSTGRES_PASSWORD: '{{ .readarr_postgres_password }}'
        READARR__POSTGRES_CACHE_DB: readarr_cache
        READARR__POSTGRES_MAIN_DB: readarr_main
        READARR__POSTGRES_LOG_DB: readarr_log
        INIT_POSTGRES_DBNAME: readarr_cache readarr_main readarr_log
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .readarr_postgres_user }}'
        INIT_POSTGRES_PASS: '{{ .readarr_postgres_password }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .postgres_super_pass }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: arrs
    rewrite:
    - regexp:
        source: readarr__(.*)
        target: readarr_$1
  - extract:
      key: arrs
    rewrite:
    - regexp:
        source: ^(postgres_super_pass)$
        target: $1
