apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name palmr
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: palmr-secret
    template:
      data:
        # App
        ENCRYPTION_KEY: '{{ .ENCRYPTION_KEY }}'
        S3_BUCKET_NAME: '{{ .S3_BUCKET_NAME }}'
        S3_ENDPOINT: '{{ .S3_ENDPOINT }}'
        S3_ACCESS_KEY: '{{ .S3_ACCESS_KEY }}'
        S3_SECRET_KEY: '{{ .S3_SECRET_KEY }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: palmr
