apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name palmr
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: palmr-secret
    template:
      data:
        # App
        ENCRYPTION_KEY: '{{ .palmr_encryption_key }}'
        S3_BUCKET_NAME: '{{ .palmr_s3_bucket_name }}'
        S3_ENDPOINT: '{{ .palmr_s3_endpoint }}'
        S3_ACCESS_KEY: '{{ .palmr_s3_access_key }}'
        S3_SECRET_KEY: '{{ .palmr_s3_secret_key }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: palmr
    rewrite:
    - regexp:
        source: (.*)
        target: palmr_$1
