---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app palmr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      palmr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: kyantech/palmr
              tag: v3.3.2-beta@sha256:043dd6cdbb4d9985b376915020fb26c2037b19876674273eac310ab04cdf16f4
            env:
              ENABLE_S3: true
              S3_ENDPOINT: s3.us-west-002.backblazeb2.com
              S3_FORCE_PATH_STYLE: false
              S3_REGION: us-west-002
              S3_USE_SSL: true
              SECURE_SITE: true
              PALMR_UID: &uid 1000
              PALMR_GID: *uid
            envFrom:
              - secretRef:
                  name: palmr-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop: ["ALL"]
                add: ["CHOWN", "SETUID", "SETGID"]  
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        fsGroup: *uid
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ports:
          http:
            port: 5487
          api:
            port: 3333
    route:
      main:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
          - "send.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          palmr:
            app:
              - path: /app/server
      config-temp:
        type: emptyDir
        globalMounts:
          - path: /app/server/temp-chunks
      config-uploads:
        type: emptyDir
        globalMounts:
          - path: /app/server/uploads
      tmp:
        type: emptyDir