apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name prowlarr
  namespace: media
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      data:
        # App
        PROWLARR__AUTH__APIKEY: '{{ .PROWLARR__API_KEY }}'
        PROWLARR__POSTGRES__HOST: &dbHost postgres-rw.database.svc.cluster.local
        PROWLARR__POSTGRES__PORT: "5432"
        PROWLARR__POSTGRES__USER: '{{ .PROWLARR__POSTGRES_USER }}'
        PROWLARR__POSTGRES__PASSWORD: '{{ .PROWLARR__POSTGRES_PASSWORD }}'
        PROWLARR__POSTGRES__MAINDB: &dbName prowlarr_main
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .PROWLARR__POSTGRES_USER }}'
        INIT_POSTGRES_PASS: '{{ .PROWLARR__POSTGRES_PASSWORD }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .POSTGRES_SUPER_PASS }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: arrs
  - extract:
      key: cloudnative-pg-superuser
