apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name prowlarr
  namespace: media
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      data:
        # App
        PROWLARR__AUTH__APIKEY: '{{ .prowlarr_api_key }}'
        PROWLARR__POSTGRES__HOST: &dbHost postgres-rw.database.svc.cluster.local
        PROWLARR__POSTGRES__PORT: "5432"
        PROWLARR__POSTGRES__USER: '{{ .prowlarr_postgres_user }}'
        PROWLARR__POSTGRES__PASSWORD: '{{ .prowlarr_postgres_password }}'
        PROWLARR__POSTGRES__MAINDB: &dbName prowlarr_main
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .prowlarr_postgres_user }}'
        INIT_POSTGRES_PASS: '{{ .prowlarr_postgres_password }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .postgres_super_pass }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: arrs
    rewrite:
    - regexp:
        source: prowlarr__(.*)
        target: prowlarr_$1
  - extract:
      key: arrs
    rewrite:
    - regexp:
        source: ^(postgres_super_pass)$
        target: $1
