# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cookjam-prd
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      app:
        replicas: 2
        strategy: RollingUpdate
        rollingUpdate:
          surge: 1
          unavailable: 0
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: "ghcr.io/san-vibe-coding-2025/cookjam-web-otp-working"
              tag: "main"
            env:
              VITE_INFERENCE_SERVICE_URL: https://${SECRET_APP_PRD_DOMAIN}/api
              NODE_ENV: production
              METRICS_PORT: 3001
              SUPABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: &secret cookjam-secret
                    key: SUPABASE_URL
              SUPABASE_SERVICE_ROLE_KEY:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: SUPABASE_SERVICE_ROLE_KEY
            securityContext: &sc
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop: ["ALL"]
                add: ["CHOWN"]
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 300Mi
    defaultPodOptions:
      imagePullSecrets:
        - name: cookjam-reg
      securityContext:
        runAsNonRoot: true
        runAsUser: &uid 568
        runAsGroup: *uid
        fsGroup: *uid
        supplementalGroups: [65534]
        fsGroupChangePolicy: Always
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app.kubernetes.io/name: cookjam-prd
                topologyKey: kubernetes.io/hostname
    service:
      app:
        controller: app
        ports:
          http:
            port: *port
    route:
      main:
        hostnames:
          - "${SECRET_APP_PRD_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: 8080
    persistence:
      config:
        enabled: false
        existingClaim: *app
      cache:
        type: emptyDir
        advancedMounts:
          app:
            main:
              - path: /var/cache/nginx
              - path: /var/log/nginx
              - path: /var/run
  postRenderers:
    - kustomize:
        images:
          - name: ghcr.io/san-vibe-coding-2025/cookjam-web-otp-working
            newTag: main
            digest: sha256:6658fe04378475b562272f8a2a14dc83393422dda940d50bf0d2713cd61f26de # {"$imagepolicy": "selfhosted:cookjam-prd:digest"}
