---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: monica
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      monica:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app: &app
            image: 
              repository: docker.io/monica
              tag: 4.1.2-apache
            env:
              TZ: "${TZ}"
              APP_ENV: production
              APP_URL: https://monica.${SECRET_DOMAIN}
              CACHE_DRIVER: redis 
              DEFAULT_MAX_STORAGE_SIZE: 4096
              MAIL_MAILER: smtp
              MAIL_PORT: 465
              MAIL_ENCRYPTION: tls
              QUEUE_CONNECTION: redis
              REDIS_HOST: dragonfly.database.svc.cluster.local
            envFrom:
              - secretRef:
                  name: monica-secret
          cron:
            <<: *app
            command:
              - cron.sh
          queue:
            <<: *app
            command:
              - queue.sh

    service:
      app:
        controller: monica
        ports:
          http:
            port: 80
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Selfhosted
          gethomepage.dev/icon: monica.png
          gethomepage.dev/name: Monica
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        enabled: true
        existingClaim: monica
        globalMounts:
          - path: /var/www/html/storage
