# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name radarr
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      data:
        # App
        RADARR__AUTH__APIKEY: '{{ .radarr_api_key }}'
        RADARR__POSTGRES__HOST: &dbHost postgres-rw.database.svc.cluster.local
        RADARR__POSTGRES__PORT: "5432"
        RADARR__POSTGRES__USER: '{{ .radarr_postgres_user }}'
        RADARR__POSTGRES__PASSWORD: '{{ .radarr_postgres_password }}'
        RADARR__POSTGRES__MAIN_DB: &dbName radarr_main
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .radarr_postgres_user }}'
        INIT_POSTGRES_PASS: '{{ .radarr_postgres_password }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .postgres_super_pass }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: arrs
    rewrite:
    - regexp:
        source: radarr__(.*)
        target: radarr_$1
  - extract:
      key: arrs
    rewrite:
    - regexp:
        source: ^(postgres_super_pass)$
        target: $1
