# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name radarr
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      data:
        # App
        RADARR__AUTH__APIKEY: '{{ .RADARR__API_KEY }}'
        RADARR__POSTGRES__HOST: &dbHost postgres-rw.database.svc.cluster.local
        RADARR__POSTGRES__PORT: "5432"
        RADARR__POSTGRES__USER: '{{ .RADARR__POSTGRES_USER }}'
        RADARR__POSTGRES__PASSWORD: '{{ .RADARR__POSTGRES_PASSWORD }}'
        RADARR__POSTGRES__MAIN_DB: &dbName radarr_main
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .RADARR__POSTGRES_USER }}'
        INIT_POSTGRES_PASS: '{{ .RADARR__POSTGRES_PASSWORD }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .POSTGRES_SUPER_PASS }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: arrs
  - extract:
      key: cloudnative-pg-superuser
