apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name kometa
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: pmm-config
    creationPolicy: Owner
    template:
      templateFrom:
      - configMap:
          name: pmm-config-tpl
          items:
          - key: config.yml
  dataFrom:
  - extract:
      key: kometa
