---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
configMapGenerator:
  - name: pmm-config-tpl
    files:
      - ./configs/config.yml
  - name: pmm-prerolls
    files:
      - ./configs/Pre-rolls.yml
  - name: pmm-movies-reference
    files:
      - Movies-Reference.yml=./configs/Movies - Reference.yml
generatorOptions:
  disableNameSuffixHash: true
labels:
  - pairs:
      app.kubernetes.io/name: kometa
      app.kubernetes.io/instance: kometa
