---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: &name unifi-dns
spec:
  provider:
    doppler:
      project: external-dns-unifi
      config: prd
      auth:
        secretRef:
          dopplerToken:
            name: doppler-token-auth-api
            key: dopplerToken
            namespace: flux-system
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name unifi-dns
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: *name
  target:
    name: unifi-dns-secret
    template:
      engineVersion: v2
      data:
        EXTERNAL_DNS_UNIFI_USER: "{{ .EXTERNAL_DNS_UNIFI_USER }}"
        EXTERNAL_DNS_UNIFI_PASS: "{{ .EXTERNAL_DNS_UNIFI_PASS }}"
  dataFrom:
    - find:
        name:
          regexp: .*
