apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name unifi-dns
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: unifi-dns-secret
    template:
      data:
        api-key: '{{ .unifi_dns_unifi_api_key }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: unifi-dns
    rewrite:
    - regexp:
        source: (.*)
        target: unifi_dns_$1
