# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name bazarr
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: bazarr-secret
    template:
      data:
        # App
        PLEX_TOKEN: '{{ .BAZARR__PLEX_TOKEN }}'
        POSTGRES_ENABLED: "true"
        POSTGRES_DATABASE: &dbName bazarr
        POSTGRES_HOST: &dbHost postgres-rw.database.svc.cluster.local
        POSTGRES_USERNAME: '{{ .BAZARR__POSTGRES_USER }}'
        POSTGRES_PASSWORD: '{{ .BAZARR__POSTGRES_PASSWORD }}'
        POSTGRES_PORT: "5432"
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .BAZARR__POSTGRES_USER }}'
        INIT_POSTGRES_PASS: '{{ .BAZARR__POSTGRES_PASSWORD }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .POSTGRES_SUPER_PASS }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: arrs
  - extract:
      key: cloudnative-pg-superuser
