apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name bazarr
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: bazarr-secret
    template:
      data:
        # App
        PLEX_TOKEN: '{{ .plex_token }}'
        POSTGRES_ENABLED: "true"
        POSTGRES_DATABASE: &dbName bazarr
        POSTGRES_HOST: &dbHost postgres-rw.database.svc.cluster.local
        POSTGRES_USERNAME: '{{ .postgres_username }}'
        POSTGRES_PASSWORD: '{{ .postgres_password }}'
        POSTGRES_PORT: "5432"
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .postgres_username }}'
        INIT_POSTGRES_PASS: '{{ .postgres_password }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .postgres_super_pass }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: bazarr
