---
apiVersion: metal.sidero.dev/v1alpha1
kind: ServerClass
metadata:
  name: cluster-0-worker
spec:
  configPatches:
    - op: replace
      path: /machine/kubelet/image
      # renovate: docker-image
      value: ghcr.io/siderolabs/kubelet:v1.25.2

    - op: replace
      path: /persist
      value: false

    - op: add
      path: /machine/kubelet/extraArgs
      value:
        rotate-server-certificates: true

    - op: add
      path: /machine/sysctls
      value:
        fs.inotify.max_user_watches: "1048576"
        fs.inotify.max_user_instances: "8192"

    - op: add
      path: /machine/time
      value:
        disabled: true

    - op: add
      path: /machine/install/extraKernelArgs
      value:
        - talos.logging.kernel=udp://vector.${SECRET_DOMAIN}:6050/

    - op: add
      path: /machine/logging
      value:
        destinations:
          - endpoint: udp://vector.${SECRET_DOMAIN}:6051/
            format: json_lines

  selector:
    matchExpressions:
      - key: control-plane
        operator: NotIn
        values:
          - "true"
