---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qui
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      qui:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            fsGroup: &id 568
            fsGroupChangePolicy: "OnRootMismatch"
            runAsGroup: *id
            runAsNonRoot: true
            runAsUser: *id
        containers:
          app:
            image:
              repository: ghcr.io/autobrr/qui
              tag: v1.13.0@sha256:4a2474980f5abe4fcdc95dc40556a4ce80840c5749eb4e526c529d82ee8a43be
            env:
              QUI__HOST: 0.0.0.0
              QUI__PORT: &port 8080
              QUI__LOG_LEVEL: INFO
            envFrom:
              - secretRef:
                  name: "qui-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    persistence:
      config:
        existingClaim: *app
      media:
        type: nfs
        server: duriel.internal
        path: /tank/Media
        globalMounts:
          - path: /media/downloads/torrents
            subPath: downloads/torrents
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/icon: qui.png
          gethomepage.dev/name: Qui
        hostnames:
          - "qui.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network