---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-plex
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: core-intel-gpu-plugin
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/plex"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-tautulli
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: apps-media-plex
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/tautulli"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-prowlarr
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/prowlarr"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-nzbget
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/nzbget"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-sonarr
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: apps-media-prowlarr
    - name: apps-media-nzbget
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/sonarr"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-sonarr-uhd
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: apps-media-prowlarr
    - name: apps-media-nzbget
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/sonarr-uhd"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-radarr
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: apps-media-prowlarr
    - name: apps-media-nzbget
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/radarr"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-radarr-uhd
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: apps-media-prowlarr
    - name: apps-media-nzbget
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/radarr-uhd"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-overseerr
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: apps-media-sonarr
    - name: apps-media-radarr
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/overseerr"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-readarr
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/readarr"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-calibre
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/calibre"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-calibre-web
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/calibre-web"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-jellyfin
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: core-intel-gpu-plugin
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/jellyfin"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-recyclarr
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: apps-media-radarr
    - name: apps-media-radarr-uhd
    - name: apps-media-sonarr
    - name: apps-media-sonarr-uhd
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/recyclarr"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-gaps
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: apps-media-plex
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/gaps"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-plex-trakt-sync
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: apps-media-plex
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/plex-trakt-sync"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
