---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-media-plex
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: core-intel-device-plugin-gpu
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/plex"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-media-plex-meta-manager
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: apps-media-plex
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/plex-meta-manager"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-media-plex-trakt-sync
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: apps-media-plex
  path: "./k8s/clusters/cluster-0/manifests/media/plex-trakt-sync"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-media-tautulli
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: apps-media-plex
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/tautulli"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-media-prowlarr
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/prowlarr"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-media-sabnzbd
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/sabnzbd"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-media-sonarr
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: apps-media-prowlarr
    - name: apps-media-sabnzbd
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/sonarr"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-media-radarr
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: apps-media-prowlarr
    - name: apps-media-sabnzbd
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/radarr"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-media-overseerr
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: apps-media-sonarr
    - name: apps-media-radarr
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/overseerr"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-media-readarr
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/readarr"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-media-calibre-web
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/calibre-web"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-media-jellyfin
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: core-intel-device-plugin-gpu
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/media/jellyfin"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-media-recyclarr
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: apps-media-radarr
    - name: apps-media-sonarr
  path: "./k8s/clusters/cluster-0/manifests/media/recyclarr"
  prune: true
