---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-home-zigbee2mqtt
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: apps-home-emqx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/home/zigbee2mqtt"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-home-hass
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: apps-home-emqx
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/home/home-assistant"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-home-frigate
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: core-nfd
    - name: rook-ceph-cluster
    - name: apps-home-emqx
    - name: core-intel-gpu-plugin
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/home/frigate"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-home-esphome
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/home/esphome"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-home-emqx
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/home/emqx"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-home-hajimari
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/home/hajimari"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-home-monica
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: core-traefik
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/home/monica"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-home-node-red
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: core-traefik
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/home/node-red"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
