---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps-volsync
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
  path: "./k8s/clusters/cluster-0/manifests/volsync"
  prune: true
