---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: core-monitoring-kube-prom-stack
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/monitoring/kube-prometheus-stack"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: core-monitoring-thanos
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/monitoring/thanos"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: core-monitoring-loki
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/monitoring/loki"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: core-monitoring-vector-aggregator
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: core-monitoring-loki
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/monitoring/vector/aggregator"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: core-monitoring-vector-agent
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: core-monitoring-loki
    - name: core-monitoring-vector-aggregator
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/monitoring/vector/agent"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: core-monitoring-grafana
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: rook-ceph-cluster
    - name: core-monitoring-loki
    - name: core-monitoring-thanos
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/monitoring/grafana"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: core-monitoring-botkube
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/monitoring/botkube"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: core-monitoring-unifi-poller
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/monitoring/unifi-poller"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: core-monitoring-karma
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: core-monitoring-kube-prom-stack
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/monitoring/karma"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: core-monitoring-speedtest-exporter
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/monitoring/speedtest-exporter"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
# kind: Kustomization
# metadata:
#   name: core-monitoring-blackbox-exporter
#   namespace: flux-system
# spec:
#   dependsOn:
#     - name: cluster-namespaces
#   interval: 5m
#   path: "./k8s/clusters/cluster-0/manifests/monitoring/blackbox-exporter"
#   prune: true
#   wait: true
#   sourceRef:
#     kind: GitRepository
#     name: k8s-gitops
#   decryption:
#     provider: sops
#     secretRef:
#       name: sops-age
