---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: core-chrony
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
  path: "./k8s/clusters/cluster-0/manifests/kube-system/chrony"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: core-metrics-server
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
  path: "./k8s/clusters/cluster-0/manifests/kube-system/metrics-server"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: core-rbac
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
  path: "./k8s/clusters/cluster-0/manifests/kube-system/rbac"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: core-node-feature-discovery
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
  path: "./k8s/clusters/cluster-0/manifests/kube-system/node-feature-discovery/app"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: core-node-feature-discovery-rules
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: core-node-feature-discovery
  path: "./k8s/clusters/cluster-0/manifests/kube-system/node-feature-discovery/rules"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: core-reloader
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
  path: "./k8s/clusters/cluster-0/manifests/kube-system/reloader"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: core-intel-device-plugin-operator
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: core-node-feature-discovery
  path: "./k8s/clusters/cluster-0/manifests/kube-system/intel-device-plugin/app"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: core-intel-device-plugin-gpu
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: core-intel-device-plugin-operator
  path: "./k8s/clusters/cluster-0/manifests/kube-system/intel-device-plugin/gpu"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: core-intel-device-plugin-exporter
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
    - name: core-intel-device-plugin-gpu
  path: "./k8s/clusters/cluster-0/manifests/kube-system/intel-device-plugin/exporter"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: core-kubelet-csr-approver
  namespace: flux-system
spec:
  path: "./k8s/clusters/cluster-0/manifests/kube-system/kubelet-csr-approver"
  prune: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: core-snapshot-controller
  namespace: flux-system
spec:
  path: "./k8s/clusters/cluster-0/manifests/kube-system/snapshot-controller"
  prune: true
