apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name govee2mqtt
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: govee2mqtt-secret
    template:
      data:
        GOVEE_API_KEY: '{{ .govee2mqtt_govee_api_key }}'
        GOVEE_EMAIL: '{{ .govee2mqtt_govee_email }}'
        GOVEE_PASSWORD: '{{ .govee2mqtt_govee_password }}'
        GOVEE_MQTT_USER: '{{ .govee2mqtt_govee_mqtt_user }}'
        GOVEE_MQTT_PASSWORD: '{{ .govee2mqtt_govee_mqtt_password }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: govee2mqtt
    rewrite:
    - regexp:
        source: (.*)
        target: govee2mqtt_$1
