---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: govee2mqtt
  namespace: home
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      govee2mqtt:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name": "multus-iot",
                "namespace": "network",
                "ips": ["10.30.0.54/24"],
                "mac": "06:95:14:7b:29:8d"
              }]
        containers:
          app:
            env:
              TZ: ${TZ}
              GOVEE_MQTT_HOST: emqx-listeners.database.svc.cluster.local
              GOVEE_MQTT_PORT: 1883
              GOVEE_TEMPERATURE_SCALE: C
              GOVEE_LAN_BROADCAST_ALL: true
            envFrom:
              - secretRef:
                  name: govee2mqtt-secret
            image:
              repository: ghcr.io/wez/govee2mqtt
              tag: latest@sha256:c78f1925dafabe0a9a7abc5acffa6eed8e6debe8a18629adaea9a0795428e9f9
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: govee2mqtt
        ports:
          http:
            port: 8056

    persistence:
      data:
        type: emptyDir
        globalMounts:
          - path: /data