---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # renovate: datasource=docker image=quay.io/jetstack/cert-manager-controller
  - https://github.com/cert-manager/cert-manager/releases/download/v1.12.3/cert-manager.crds.yaml
