# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex-trakt-sync
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      plex-trakt-sync:
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/taxel/plextraktsync
              tag: 0.34.20
            args:
              - watch
            env:
              PLEX_BASEURL: http://plex.media.svc.cluster.local:32400
              PLEX_LOCALURL: http://plex.media.svc.cluster.local:32400
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 128M
              limits:
                memory: 512M

    persistence:
      config:
        enabled: true
        existingClaim: *app
        advancedMounts:
          plex-trakt-sync:
            app:
              - path: /app/config
      config-yaml:
        type: configMap
        name: plex-tract-sync
        globalMounts:
          - path: /app/config/config.yml
            subPath: config.yml
            readOnly: true