apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name searxng
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      data:
        SEARXNG_SECRET: '{{ .searxng_searxng_secret_key }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: searxng
    rewrite:
    - regexp:
        source: (.*)
        target: searxng_$1
