apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name searxng
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      data:
        SEARXNG_SECRET: '{{ .SECRET_KEY }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: searxng
