
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app searxng
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      searxng:
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/searxng/searxng
              tag: 2025.5.17-86373e7
            env:
              SEARXNG_BASE_URL: "https://search.${SECRET_DOMAIN}"
              SEARXNG_PORT: &port 8080
              SEARXNG_REDIS_URL: "redis://dragonfly.database.svc.cluster.local:6379/8"
            envFrom:
              - secretRef:
                  name: *app
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /stats
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
                add:
                  - CHOWN
                  - SETGID
                  - SETUID
                  - DAC_OVERRIDE

    service:
      searxng:
        controller: *app
        ports:
          http:
            port: *port

    route:
      main:
        hostnames:
          - "search.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        type: configMap
        name: "searxng-configmap"
        globalMounts:
          - path: /etc/searxng/settings.yml
            subPath: settings.yml
            readOnly: true
          - path: /etc/searxng/limiter.toml
            subPath: limiter.toml
            readOnly: true
          - path: /etc/searxng/hostnames-remove.yml
            subPath: hostnames-remove.yml
            readOnly: true
          - path: /etc/searxng/hostnames-high.yml
            subPath: hostnames-high.yml
            readOnly: true
          - path: /etc/searxng/hostnames-low.yml
            subPath: hostnames-low.yml
            readOnly: true

      tmpfs:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
