---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: &name cross-seed
spec:
  provider:
    doppler:
      project: *name
      config: prd
      auth:
        secretRef:
          dopplerToken:
            name: doppler-token-auth-api
            key: dopplerToken
            namespace: flux-system
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name cross-seed
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: *name
  target:
    name: cross-seed-secret
    creationPolicy: Owner
    template:
      data:
        config.js: |
          module.exports = {
            action: "inject",
            apiKey: "{{ .CROSS_SEED_API_KEY }}",
            duplicateCategories: true,
            flatLinking: false,
            includeNonVideos: true,
            includeSingleEpisodes: true,
            linkCategory: "cross-seed",
            linkDirs: ["/media/downloads/torrents/complete/cross-seed"],
            linkType: "hardlink",
            matchMode: "partial",
            port: Number(process.env.CROSS_SEED_PORT),
            skipRecheck: true,
            radarr: ["http://radarr.media.svc.cluster.local:7878/?apikey={{ .RADARR_API_KEY }}"],
            sonarr: ["http://sonarr.media.svc.cluster.local:8989/?apikey={{ .SONARR_API_KEY }}"],
            torrentClients: ["qbittorrent:http://qui.media.svc.cluster.local:8080/proxy/{{ .QBT_TOKEN }}"],
            torznab: [
              168,
              171,
              173,
              206
            ].map(i => `http://prowlarr.media.svc.cluster.local:9696/$${i}/api?apikey={{ .PROWLARR_API_KEY }}`),
            useClientTorrents: true
          }
  dataFrom:
    - find:
        name:
          regexp: .*