apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name cloudnative-pg
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: cloudnative-pg-secret
    creationPolicy: Owner
    template:
      metadata:
        labels:
          cnpg.io/reload: "true"
      data:
        username: '{{ .POSTGRES_SUPER_USER }}'
        password: '{{ .POSTGRES_SUPER_PASS }}'
        POSTGRES_SUPER_USER: '{{ .POSTGRES_SUPER_USER }}'
        POSTGRES_SUPER_PASS: '{{ .POSTGRES_SUPER_PASS }}'
        aws-access-key-id: '{{ .AWS_ACCESS_KEY_ID }}'
        aws-secret-access-key: '{{ .AWS_SECRET_ACCESS_KEY }}'
  dataFrom:
  - extract:
      key: cloudnative-pg-superuser
  - extract:
      key: cloudnative-pg
