apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name zigbee2mqtt
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: zigbee2mqtt-secret
    creationPolicy: Owner
    template:
      data:
        ZIGBEE2MQTT_CONFIG_ADVANCED_CHANNEL: '{{ .zigbee2mqtt_zigbee2mqtt_config_advanced_channel }}'
        ZIGBEE2MQTT_CONFIG_ADVANCED_EXT_PAN_ID: '{{ .zigbee2mqtt_zigbee2mqtt_config_advanced_ext_pan_id }}'
        ZIGBEE2MQTT_CONFIG_ADVANCED_NETWORK_KEY: '{{ .zigbee2mqtt_zigbee2mqtt_config_advanced_network_key }}'
        ZIGBEE2MQTT_CONFIG_ADVANCED_PAN_ID: '{{ .zigbee2mqtt_zigbee2mqtt_config_advanced_pan_id }}'
        ZIGBEE2MQTT_CONFIG_MQTT_USER: '{{ .zigbee2mqtt_zigbee2mqtt_config_mqtt_user }}'
        ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD: '{{ .zigbee2mqtt_zigbee2mqtt_config_mqtt_password }}'
  dataFrom:
  - extract:
      key: zigbee2mqtt
    rewrite:
    - regexp:
        source: (.*)
        target: zigbee2mqtt_$1
