apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name zigbee2mqtt
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: zigbee2mqtt-secret
    creationPolicy: Owner
    template:
      data:
        ZIGBEE2MQTT_CONFIG_ADVANCED_CHANNEL: '{{ .ZIGBEE2MQTT_CONFIG_ADVANCED_CHANNEL }}'
        ZIGBEE2MQTT_CONFIG_ADVANCED_EXT_PAN_ID: '{{ .ZIGBEE2MQTT_CONFIG_ADVANCED_EXT_PAN_ID }}'
        ZIGBEE2MQTT_CONFIG_ADVANCED_NETWORK_KEY: '{{ .ZIGBEE2MQTT_CONFIG_ADVANCED_NETWORK_KEY }}'
        ZIGBEE2MQTT_CONFIG_ADVANCED_PAN_ID: '{{ .ZIGBEE2MQTT_CONFIG_ADVANCED_PAN_ID }}'
        ZIGBEE2MQTT_CONFIG_MQTT_USER: '{{ .ZIGBEE2MQTT_CONFIG_MQTT_USER }}'
        ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD: '{{ .ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD }}'
  dataFrom:
  - extract:
      key: zigbee2mqtt
