apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name n8n
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: n8n-secret
    template:
      data:
        # App
        N8N_ENCRYPTION_KEY: '{{ .ENCRYPTION_KEY }}'
        DB_POSTGRESDB_HOST: &dbHost postgres-rw.database.svc.cluster.local
        DB_POSTGRESDB_PORT: "5432"
        DB_POSTGRESDB_USER: '{{ .POSTGRES_USER }}'
        DB_POSTGRESDB_PASSWORD: '{{ .POSTGRES_PASS }}'
        DB_POSTGRESDB_DATABASE: &dbName n8n
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .POSTGRES_USER }}'
        INIT_POSTGRES_PASS: '{{ .POSTGRES_PASS }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .POSTGRES_SUPER_PASS }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: n8n
  - extract:
      key: cloudnative-pg-superuser
