apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name paperless
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: paperless-secret
    template:
      data:
        # App
        PAPERLESS_ADMIN_USER: '{{ .paperless_paperless_admin_user }}'
        PAPERLESS_ADMIN_PASSWORD: '{{ .paperless_paperless_admin_password }}'
        PAPERLESS_SECRET_KEY: '{{ .paperless_paperless_secret_key }}'
        PAPERLESS_DBHOST: &dbHost postgres-rw.database.svc.cluster.local
        PAPERLESS_DBNAME: &dbName paperless
        PAPERLESS_DBUSER: '{{ .paperless_paperless_dbuser }}'
        PAPERLESS_DBPASS: '{{ .paperless_paperless_dbpass }}'
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .paperless_paperless_dbuser }}'
        INIT_POSTGRES_PASS: '{{ .paperless_paperless_dbpass }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .paperless_postgres_super_pass }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: paperless
    rewrite:
    - regexp:
        source: (.*)
        target: paperless_$1
