apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name paperless
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: paperless-secret
    template:
      data:
        # App
        PAPERLESS_ADMIN_USER: '{{ .ADMIN_USER }}'
        PAPERLESS_ADMIN_PASSWORD: '{{ .ADMIN_PASSWORD }}'
        PAPERLESS_SECRET_KEY: '{{ .SECRET_KEY }}'
        PAPERLESS_DBHOST: &dbHost postgres-rw.database.svc.cluster.local
        PAPERLESS_DBNAME: &dbName paperless
        PAPERLESS_DBUSER: '{{ .DBUSER }}'
        PAPERLESS_DBPASS: '{{ .DBPASS }}'
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .DBUSER }}'
        INIT_POSTGRES_PASS: '{{ .DBPASS }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .POSTGRES_SUPER_PASS }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: paperless
  - extract:
      key: cloudnative-pg-superuser
