---
name: "Docs: Publish to GitHub Pages"

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/docs-publish.yaml"
      - "mkdocs.yaml"
      - "docs/**"

env:
  BOT_USERNAME: "rust84[bot]"

jobs:
  markdownlint:
    name: Markdownlint
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: markdownlint-cli
        uses: nosborn/github-action-markdown-cli@v3.3.0
        with:
          files: "README.md docs/**"
          config_file: ".github/markdownlint.config.yaml"

  markdown-link-check:
    name: Markdown link check
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          config-file: ".github/markdown-link-check_config.json"
          file-path: "./README.md"

  deploy:
    name: Deploy to GitHub Pages
    if: github.event.pull_request.head.repo.fork == false
    runs-on: ubuntu-20.04
    needs:
      - markdownlint
      - markdown-link-check

    steps:
      - name: Get rust84-bot token
        id: get-app-token
        uses: getsentry/action-github-app-token@v2
        with:
          app_id: ${{ secrets.RUST84_APP_ID }}
          private_key: ${{ secrets.RUST84_APP_PRIVATE_KEY }}

      - uses: actions/checkout@v3
        with:
          token: ${{ steps.get-app-token.outputs.token }}

      - uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Configure Git
        run: |
          git config user.name "${{ env.BOT_USERNAME }}"
          git config user.email "${{ env.BOT_USERNAME }}@users.noreply.github.com"
      - run: |
          pip install \
            mkdocs>=1.1 \
            Pygments>=2.4 \
            markdown>=3.2 \
            pymdown-extensions>=7.0 \
            mkdocs-material>=1.0 \
            mkdocs-material-extensions>=1.0 \
            mkdocs-minify-plugin>=0.3 \
            mkdocs-redirects>=1.0 \
            mkdocs-git-revision-date-localized-plugin>=1.0 \
            mkdocs-diagrams>=1.0

      - run: mkdocs gh-deploy --config-file ./mkdocs.yaml --force
      - run: mkdocs --version
