apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name open-webui
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    template:
      data:
        # App
        WEBUI_SECRET_KEY: '{{ .OPENWEBUI_SECRET_KEY }}'
        DATABASE_NAME: &dbName openwebui
        DATABASE_HOST: &dbHost postgres-rw.database.svc.cluster.local
        DATABASE_USER: '{{ .OPENWEBUI_DB_USER }}'
        DATABASE_PASSWORD: '{{ .OPENWEBUI_DB_PASSWORD }}'
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: '{{ .OPENWEBUI_DB_USER }}'
        INIT_POSTGRES_PASS: '{{ .OPENWEBUI_DB_PASSWORD }}'
        INIT_POSTGRES_SUPER_PASS: '{{ .POSTGRES_SUPER_PASS }}'
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: open-webui
  - extract:
      key: cloudnative-pg-superuser
