---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: &name open-webui
spec:
  provider:
    doppler:
      project: *name
      config: prd
      auth:
        secretRef:
          dopplerToken:
            name: doppler-token-auth-api
            key: dopplerToken
            namespace: flux-system
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name open-webui
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: *name
  target:
    name: open-webui-secret
    template:
      engineVersion: v2
      data:
        # App
        WEBUI_SECRET_KEY: "{{ .OPENWEBUI_SECRET_KEY }}"

        # Database
        DATABASE_NAME: &dbName openwebui
        DATABASE_HOST: &dbHost postgres-rw.database.svc.cluster.local
        DATABASE_USER: &dbUser "{{ .OPENWEBUI_DB_USER }}"
        DATABASE_PASSWORD: &dbPass "{{ .OPENWEBUI_DB_PASSWORD }}"

        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - find:
        name:
          regexp: .*
