---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app open-webui
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      open-webui:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17
            envFrom: &envFrom
              - secretRef:
                  name: *app
        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: 0.7.2@sha256:16d9a3615b45f14a0c89f7ad7a3bf151f923ed32c2e68f9204eb17d1ce40774b
            env:
              TZ: ${TZ}
              # App
              WEBUI_URL: https://chat.${SECRET_DOMAIN}
              CORS_ALLOW_ORIGIN: https://chat.${SECRET_DOMAIN}
              DATABASE_PORT: "5432"
              DATABASE_TYPE: postgres
              ENABLE_OPENAI_API: False
              ENABLE_OLLAMA_API: True
              ENABLE_WEB_SEARCH: True
              ENABLE_SEARCH_QUERY_GENERATION: True
              ENABLE_PERSISTENT_CONFIG: False
              OLLAMA_BASE_URL: http://ollama.ai.svc.cluster.local:11434
              WEBUI_SESSION_COOKIE_SAME_SITE: lax
              WEBUI_SESSION_COOKIE_SECURE: True
              # Searx
              WEB_SEARCH_ENGINE: searxng
              SEARXNG_QUERY_URL: http://searxng.ai.svc.cluster.local:8080/search?q=<query>
              # Redis
              ENABLE_WEBSOCKET_SUPPORT: True
              WEBSOCKET_MANAGER: "redis"
              WEBSOCKET_REDIS_URL: "redis://dragonfly.database.svc.cluster.local:6379/7"
              # Document extraction
              CONTENT_EXTRACTION_ENGINE: tika
              TIKA_SERVER_URL: http://localhost:9998
            envFrom: *envFrom
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 500m
                memory: 1Gi
              limits:
                memory: 4Gi
          tika:
            image:
              repository: docker.io/apache/tika
              tag: 3.2.3.0-full
              pullPolicy: IfNotPresent
            ports:
              - containerPort: 9998
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
    service:
      open-webui:
        controller: *app
        ports:
          http:
            port: 8080
    route:
      main:
        hostnames:
          - "chat.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /app/backend/data
      tmpfs:
        type: emptyDir
        advancedMounts:
          open-webui:
            app:
              - path: /tmp
                subPath: tmp