---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: open-webui
  namespace: ai
  labels:
    app.kubernetes.io/name: &name open-webui
    app.kubernetes.io/instance: *name
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: ceph-block
